src/main/resources/schema/SMSGatewayFault-2013-02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://chimera.intele.com/gw/xsd/SMSGateway/Fault/2013/02"
	xmlns:req="http://chimera.intele.com/gw/xsd/SMSGateway/Fault/2013/02">
	<xsd:complexType name="fault">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="code" type="xsd:int" />
			<xsd:element minOccurs="0" name="reason" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>